body{
    background-color:rgb(1, 108, 92);
}
h1{
    color:pink
}
h3{
    color:rgb(121, 220, 193)
}
h2{
    color:rgb(138, 131, 255)
}
button{
    background-color:rgb(153, 255, 135)
}
input{
    background-color: rgb(176, 133, 255);
}